:root{
    --nav-color:#2C3E50;
    --body-color: #f1ebeb;
    --letter-color:#EAECEE;
    --response-area:#e6e9eb;
    --button-question: #f59907;
}

nav{
    color:var(--letter-color);
    background-color: var(--nav-color);
}
.container{
    display:flex;
    justify-content: space-between;
    
}
.navbar-collapse{
    display: flex;
    justify-content: space-between;
  

}
button{
    background-color: var(--button-question);
    color:white;
    font-weight: bold;
    padding:10px;
    border-radius: 10px;
    border-style: none;
}

@media screen and (max-width:750px){
    .navbar-brand{
        display:none
    }
}