:root{
    --nav-color:#2C3E50;
    --body-color: #f1ebeb;
    --letter-color:#EAECEE;
    --response-area:#e6e9eb;
    --button-question: #f59907;
    --leter-size:2rem
}

nav{
    color:var(--letter-color);
    background-color: var(--nav-color);
}
.container{
    display:flex;
    justify-content: space-between;
    
}
.navbar-collapse{
    display: flex;
    justify-content: space-between;
}
h1,h3{
    font-weight:bold;
}
section{
    text-align: justify;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
p{
    font-size: var(--leter-size);
}
button{
    background-color: var(--button-question);
    color:white;
    font-weight: bold;
    padding:10px;
    border-radius: 10px;
    border-style: none;
}

@media screen and (max-width:750px){
    .navbar-brand{
        display:none
    }
}